@model Project.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtDateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtDateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrClientContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrClientContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtEndTimeExpected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtEndTimeExpected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecPriceExpected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecPriceExpected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecPriceFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecPriceFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DecPriceFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DecPriceFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtCancelationReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtCancelationReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntEmployeeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntEmployeeCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntEmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntEmployeeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
